Currency/Configuration/Processes/Processes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="processes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="process">
          <xs:complexType>
            <xs:attribute name="name" form="unqualified" type="xs:string" use="required" />
            <xs:attribute name="period_of_killing_sec" form="unqualified" type="xs:int" use="required" />
            <xs:attribute name="auto_start" form="unqualified" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>

